<html>
	<head>
		<title></title>
<!-- production version, optimized for size and speed -->
<!--
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
-->
<script src="vue.js"></script>
	</head>
	
	<body>
		<div id="app" class='app'>
			<fret-form></fret-form>
			<measurements :frets="frets"></measurements>
			<fretboard :frets="frets"></fretboard>
			<info-sidebar></info-sidebar>
		</div>
		
		<style>
			.app {
				display: flex;
			}

			.fretboard, aside, .fret-form, .measurements {
				flex: 1;
			}	
		</style>
	
		<script>
			Vue.component('fretboard', {
				methods: {
					draw() {
						let scaleLength = 1;
						let yScale = 2;
						let lastFretY = scaleLength; 
						let fretY = lastFretY;
						let fretScale = 1.059463; 
console.log('draw'); 
						this.ctx.strokeRect(0, 0, this.WIDTH, this.HEIGHT);

						for (let i=0; i<this.frets.length; i++) {
							fretY = (lastFretY / fretScale) * yScale;
							this.ctx.moveTo(0, fretY);
							this.ctx.lineTo(this.fingerboardWidth, fretY);
							lastFretY = fretY;
						}
		
						this.ctx.stroke();
					}
				},	
				props: {
					frets: {
						type: Array,
						required: true
					}
				},
				watch: {
					frets() {
						this.draw();
					}
				},
				data() {
					return {
						$canvas: null,
						ctx: null,
						HEIGHT: 600,
						WIDTH: 200,
						fingerboardWidth: 200 
					};
				},
				mounted() {
					this.$canvas = document.getElementById("canvas");
					this.ctx = this.$canvas.getContext('2d');
				
					this.$canvas.height = this.HEIGHT;
					this.$canvas.width = this.WIDTH;
	
					this.draw();
				},
				template: `<div>
						<h2>Fretboard</h2>
						<canvas class="fretboard" id="canvas"></canvas>
					</div>`
			});

			Vue.component('measurements', {
				props: {
					frets: {
						required: true
					}
				},
				data() {
					return {
					}
				},
				template: `<div>
					<h2>Measurements</h2>
					<ol class="measurements">
						<li v-for="fret in frets">
							from nut: {{fret.fromNut}}</li>
					</ol>
				</div>`
			});
	
			Vue.component('fret-form', {
				methods: {
					onCalculateClick() {
						bus.$emit('calculate-frets', this.scaleLength, this.numberOfFrets);
					}
				},
				data() {
					return {
						scaleLength: 12,
						numberOfFrets: 12 
					}
				},
				template: `<div>
						<h2>Frets and Scalelength</h2>
					<form v-on:submit.prevent class="fret-form">
					<div>
						<label>scale length</label>
						<input v-model="scaleLength" type="number" />
					</div>
					<div>
						<label>number of frets</label>
						<input v-model="numberOfFrets" type="number" />
					</div>
					</form>
				<button @click="onCalculateClick">Calculate</button>
				</div>`
			});

			Vue.component('info-sidebar', {
				data() {
					return {
						ukuleleScales: [{
							name: 'Pocket',
							scale: 11,
							frets: 10
						},{
							name: 'Soprano',
							scale: 13,
							frets: 12
						},{
							name: 'Concert',
							scale: 15,
							frets: 18
						},{
							name: 'Tenor',
							scale: 17,
							frets: 18
						},{
							name: 'Baritone',
							scale: 19,
							frets: 18
						},{
							name: 'Bass',
							scale: 20,
							frets: 24
						},{
							name: 'Contrabass',
							scale: 21,
							frets: 24
						}]
					}
				},
				template: `<aside>
					<h2>Common Measurements</h2>
					<table>
						<thead>
							<tr>
								<th>Ukulele</th>
								<th>Scale Length</th>
								<th>Frets</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="ukulele in ukuleleScales">
								<td>
									<a href="">
										{{ukulele.name}}
									</a>		
								</td>
								<td>{{ukulele.scale}}</td>
								<td>{{ukulele.frets}}</td>
							</tr>
						</tbody>
					</table>
					<cite>https://en.wikipedia.org/wiki/Ukulele</cite>
					<br />
					<cite>https://kalabrand.com</cite>
				</aside>`
			});

			const bus = new Vue();
			const app = new Vue({
				el: '#app',
				methods: {
					calculateFrets(scaleLength, numberOfFrets) {
						scaleLength = parseInt(scaleLength, 10);
						numberOfFrets = parseInt(numberOfFrets, 10);

						let lastPosition = 0;
						let scale =  17.817; 
						let fromPrev = 0;
						this.frets = [];
						
						function fixNum(num) {
							return parseFloat(num.toFixed(3));
						}

						for(let i=0; i<numberOfFrets + 1; i++) {
							fromPrev = (scaleLength / scale);
							if (i !== 0) {
								this.frets.push({
									fromPrevFret: fixNum(fromPrev),	
									fromNut: fixNum(lastPosition)
								});
							}
							lastPosition += fromPrev;
							scaleLength -= fromPrev;
						}
					}
				},
				data: {
					frets: [],
					
				},
				created() {
					bus.$on('calculate-frets', this.calculateFrets);
				}
			});

		</script>	
	</body>
</html>
