<html>
	<head>
		<title></title>
<!-- production version, optimized for size and speed -->
<!--
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
-->
<script src="vue.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css"/> 

	</head>
	
	<body>
		<div id="app" class='app'>
			<div class="fret-data">
				<fret-form></fret-form>
				<info-sidebar></info-sidebar>
			</div>
			<measurements :frets="frets"></measurements>
			<fretboard :frets="frets"></fretboard>
		</div>

		<script>
			Vue.component('fretboard', {
				methods: {
					draw() {
						// test dimensions in inches
						let width = 1.25;
						let height = 9;

						this.WIDTH = width * this.monitor.widthScale;
						this.HEIGHT = height * this.monitor.heightScale;
						this.$canvas.width = this.WIDTH;
						this.$canvas.height = this.HEIGHT;

						this.ctx.clearRect(0, 0, this.WIDTH, this.HEIGHT);
						this.ctx.strokeRect(0, 0, this.WIDTH, this.HEIGHT);

						for (let i=0; i<this.frets.length; i++) {
							let fretPosition = this.frets[i].fromNut * 
								this.monitor.heightScale;
							this.ctx.moveTo(0, fretPosition);
							this.ctx.lineTo(this.WIDTH, fretPosition);
						}
		
						this.ctx.stroke();
					}
				},	
				props: {
					frets: {
						type: Array,
						required: true
					}
				},
				watch: {
					frets() {
						this.draw();
					}
				},
				data() {
					return {
						$canvas: null,
						ctx: null,
						HEIGHT: 0,
						WIDTH: 0,
						monitor: {
							pixelWidth: window.screen.width,
							pixelHeight: window.screen.height,
							pixelDensity: 0,
							inchesWidth: 0,
							inchesHeight: 0,
							widthScale: 0,
							heightScale: 0
						}
					};
				},
				mounted() {
					this.$canvas = document.getElementById("canvas");
					this.ctx = this.$canvas.getContext('2d');
				
					this.$canvas.height = this.HEIGHT;
					this.$canvas.width = this.WIDTH;

					// test
					this.monitor.inchesWidth = 14.35;
					this.monitor.inchesHeight = 9.82;
					this.monitor.widthScale = 
						this.monitor.pixelWidth /
						this.monitor.inchesWidth;
					this.monitor.heightScale =
						this.monitor.pixelHeight /
						this.monitor.inchesHeight;	

					this.draw();
				},
				template: `<div class="fretboard">
						<h2>Fretboard</h2>
						<canvas id="canvas"></canvas>
					</div>`
			});

			Vue.component('measurements', {
				props: {
					frets: {
						required: true
					}
				},
				data() {
					return {
						listClass: ''
					}
				},
				watch: {
					frets() {
						this.listClass = 'measurements-list fade-refresh';
						setTimeout(() => {
							this.listClass = 'measurements-list';
						}, 1000);
					}
				},
				template: `<div class="measurements">
					<h2>Measurements</h2>
					<ol :class="listClass">
						<li v-for="fret in frets">
							from nut: {{fret.fromNut}}</li>
					</ol>
				</div>`
			});
	
			Vue.component('fret-form', {
				methods: {
					onCalculateClick() {
						bus.$emit('calculate-frets', this.scaleLength, this.numberOfFrets);
					}
				},
				data() {
					return {
						scaleLength: 12,
						numberOfFrets: 12 
					}
				},
				template: `<div class="fret-form">
						<h2>Frets and Scalelength</h2>
					<form v-on:submit.prevent>
					<div>
						<label>scale length</label>
						<input v-model="scaleLength" type="number" />
					</div>
					<div>
						<label>number of frets</label>
						<input v-model="numberOfFrets" type="number" />
					</div>
					</form>
				<button @click="onCalculateClick">Calculate</button>
				</div>`
			});

			Vue.component('info-sidebar', {
				methods: {
					onScaleClicked(e) {
						const scale = e.currentTarget.getAttribute('data-scale');
						const frets = e.currentTarget.getAttribute('data-frets');

						bus.$emit('calculate-frets', scale, frets);
					}
				},
				data() {
					
					return {
						ukuleleScales: [{
							name: 'Pocket',
							scale: 11,
							frets: 10
						},{
							name: 'Soprano',
							scale: 13,
							frets: 12
						},{
							name: 'Concert',
							scale: 15,
							frets: 18
						},{
							name: 'Tenor',
							scale: 17,
							frets: 18
						},{
							name: 'Baritone',
							scale: 19,
							frets: 18
						},{
							name: 'Bass',
							scale: 20,
							frets: 24
						},{
							name: 'Contrabass',
							scale: 21,
							frets: 24
						}]
					}
				},
				template: `<aside>
					<h2>Common Measurements</h2>
					<table>
						<thead>
							<tr>
								<th>Ukulele</th>
								<th>Scale Length</th>
								<th>Frets</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="ukulele in ukuleleScales">
								<td>
									<a href="javascript:void(0)"
									@click="onScaleClicked"
									:data-scale="ukulele.scale"
									:data-frets="ukulele.frets"
									>
										{{ukulele.name}}
									</a>		
								</td>
								<td>{{ukulele.scale}}</td>
								<td>{{ukulele.frets}}</td>
							</tr>
						</tbody>
					</table>
					<cite>https://en.wikipedia.org/wiki/Ukulele</cite>
					<br />
					<cite>https://kalabrand.com</cite>
				</aside>`
			});

			const bus = new Vue();
			const app = new Vue({
				el: '#app',
				methods: {
					calculateFrets(scaleLength, numberOfFrets) {
						scaleLength = parseInt(scaleLength, 10);
						numberOfFrets = parseInt(numberOfFrets, 10);

						let lastPosition = 0;
						let scale =  17.817; 
						let fromPrev = 0;
						this.frets = [];
						
						function fixNum(num) {
							return parseFloat(num.toFixed(3));
						}

						for(let i=0; i<numberOfFrets + 1; i++) {
							fromPrev = (scaleLength / scale);
							if (i !== 0) {
								this.frets.push({
									fromPrevFret: fixNum(fromPrev),	
									fromNut: fixNum(lastPosition)
								});
							}
							lastPosition += fromPrev;
							scaleLength -= fromPrev;
						}
					}
				},
				data: {
					frets: [],
					
				},
				created() {
					bus.$on('calculate-frets', this.calculateFrets);
				}
			});

		</script>	
	</body>
</html>
