<html>
	<head>
		<title></title>
<!-- production version, optimized for size and speed -->
<!--
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
-->
<script src="vue.js"></script>
	</head>
	
	<body>
		<div id="app" class='app'>
			<fret-form></fret-form>
			<measurements></measurements>
			<fretboard :frets="frets"></fretboard>
			<info-sidebar></info-sidebar>
		</div>
		
		<style>
			.app {
				display: flex;
			}

			.fretboard, aside, .fret-form, .measurements {
				flex: 1;
			}	
		</style>
	
		<script>
			Vue.component('fretboard', {
				methods: {
					draw() {
						let scaleLength = 1;
						let yScale = 2;
						let lastFretY = scaleLength; 
						let fretY = lastFretY;
						let fretScale = 1.059463; 
console.log('draw'); 
						this.ctx.strokeRect(0, 0, this.WIDTH, this.HEIGHT);

						for (let i=0; i<this.frets.length; i++) {
							fretY = (lastFretY / fretScale) * yScale;
							this.ctx.moveTo(0, fretY);
							this.ctx.lineTo(this.fingerboardWidth, fretY);
							lastFretY = fretY;
						}
		
						this.ctx.stroke();
					}
				},	
				props: {
					frets: {
						type: Array,
						required: true
					}
				},
				watch: {
					frets() {
						this.draw();
					}
				},
				data() {
					return {
						$canvas: null,
						ctx: null,
						HEIGHT: 600,
						WIDTH: 200,
						fingerboardWidth: 200 
					};
				},
				mounted() {
					this.$canvas = document.getElementById("canvas");
					this.ctx = this.$canvas.getContext('2d');
				
					this.$canvas.height = this.HEIGHT;
					this.$canvas.width = this.WIDTH;
	
					this.draw(12, 13);
				},
				template: `<canvas class="fretboard" id="canvas"></canvas>`
			});

			Vue.component('measurements', {
				methods: {
				},
				props: {
					frets: {
						required: true
					}
				},
				data() {
					return {
					}
				},
				template: `<ol class="measurements">
					<li v-for="fret in frets">{{fret}}</li>
				</ol>`
			});
	
			Vue.component('fret-form', {
				methods: {
					onCalculateClick() {
						bus.$emit('calculate-frets', this.scaleLength, this.numberOfFrets);
					}
				},
				data() {
					return {
						scaleLength: 0,
						numberOfFrets: 0
					}
				},
				template: `<div>
					<form v-on:submit.prevent class="fret-form">
					<div>
						<label>scale length</label>
						<input v-model="scaleLength" type="number" />
					</div>
					<div>
						<label>number of frets</label>
						<input v-model="numberOfFrets" type="number" />
					</div>
					</form>
				<button @click="onCalculateClick">Calculate</button>
				</div>`
			});

			Vue.component('info-sidebar', {
				data() {
					return {
						ukuleleScales: [{
							name: 'Pocket',
							scale: 11
						},{
							name: 'Soprano',
							scale: 13
						},{
							name: 'Concert',
							scale: 15
						},{
							name: 'Tenor',
							scale: 17
						},{
							name: 'Baritone',
							scale: 19
						},{
							name: 'Bass',
							scale: 20
						},{
							name: 'Contrabass',
							scale: 21
						}]
					}
				},
				template: `<aside>
					<table>
						<thead>
							<tr>
								<th>Ukulele</th>
								<th>Scale Length</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="ukulele in ukuleleScales">
								<td>{{ukulele.name}}</td>
								<td>{{ukulele.scale}}</td>
							</tr>
						</tbody>
					</table>
					<cite>https://en.wikipedia.org/wiki/Ukulele</cite>
				</aside>`
			});

			const bus = new Vue();
			const app = new Vue({
				el: '#app',
				methods: {
					calculateFrets(scaleLength, numberOfFrets) {
						scaleLength = parseInt(scaleLength, 10);
						numberOfFrets = parseInt(numberOfFrets, 10);

						console.log(scaleLength + ' ' + numberOfFrets);
						let scale = 1.059463; 
						this.frets = [scaleLength];

						for(let i=1; i<numberOfFrets; i++) {
							this.frets.push(this.frets[i-1] * scale);	
						}
					}
				},
				data: {
					frets: [],
					
				},
				created() {
					bus.$on('calculate-frets', this.calculateFrets);
				}
			});

		</script>	
	</body>
</html>
